.features-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.features-box {
  text-align: center;
  background: lightgrey;
  margin: 10px;
  min-width: 100px;
  height: 300px;

  &__icon {
    color: red;
  }
}

.one {
  flex-grow: 1;
}

.two {
  flex-grow: 1;
}

.three {
  flex-grow: 1;
}

.four {
  flex-grow: 1;
}

li {
  list-style: none;
}
