.features-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.features-box {
  text-align: center;
  background: lightgrey;
  margin: 10px;
  min-width: 100px;
  height: 300px;

  &__icon {
    color: red;
  }
}

.fone {
  flex-grow: 1;
}

.ftwo {
  flex-grow: 1;
}

.fthree {
  flex-grow: 1;
}

.ffour {
  flex-grow: 1;
}

li {
  list-style: none;
}
